/* css document */

/* ====================== Global Styles ==================== */

html, body {
    height: 100%;
}

body {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
}

.logo {
    width: 40%;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Jua', sans-serif;
    text-shadow: 1px 2px gray;
}

.health {
    color: #FFF043;
}

.character {
    width: 50%;
}

#attack {
    position: relative;
}

.kamehameha {
    position: absolute;
    left: -100px;
    width: 130%;
    animation: kamehameha 0.5s forwards;
    animation-delay: 0s;
}

@keyframes kamehameha {
    0%  {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0; left: 0;}
}

.kamehameha-reverse {
    position: absolute;
    right: -100px;
    width: 140%;
    animation: kamehameha-reverse 0.5s forwards;
    animation-delay: 0s;
}

@keyframes kamehameha-reverse {
    0%  {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0; right: 0;}
}